.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.logo {
  width: 126px;
  height: auto;
}

section {
  width: 736px;
  margin: 0 auto;
}

.inputSection {
  transform: translateY(-50%);
}

.listSection {
  margin-top: 4rem;
}

@media screen and (max-width: 767px) {
  section {
    width: 100%;
    padding: 0 0.5rem;
  }
}
